<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>paymentexample</name>
    <displayName><![CDATA[Payment Example]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Description of Payment Example]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>